body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

h1 {
    color: #004d80;
}

.table {
    border-collapse: collapse;
    width: 90%;
}

.table td, .table th {
    border: 1px solid #999;
    padding: 8px;
}

.thead {
    background: #e3f2fd;
    font-weight: bold;
}
